# Bootstrap
app/bootstrap*

# Symfony directories
app/logs/*
app/cache/*
web/uploads/*
web/bundles/*
bin/

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer stuff
composer.phar
vendor/*

#
# Using the assetic stuff, it spits files
# out into the css and js directories and
# we don't want to track those files.
#
web/css/*
web/js/*
web/.sass-cache

#
# This is for we run builds for testing the
# code and such
#
build/
!build/ruleset

#
# Misc. ignores
#
.DS_Store
*.swp
*.swo
.vagrant
